.deck {
  text-align: center;
  background-color: #78200a;
  font-family: "Inconsolata", monospace;
  margin-bottom: 10px;
  padding-bottom: 2px;
  border: 0.5px solid;

  header {
    padding-top: 3px;
    color: seashell;
  }

  figcaption {
    margin: 3%;
  }
}
